<p>Name: <%= @patient.name %></p>
<p>Type: <%= @patient.type %></p>
<p>Date of Birth: <%= @patient.db %></p>
<p>Owner Contact: <%= @patient.owner_contact %></p>
<p>Veterinarian: <%= @patient.vet_id %></p>
<p>Appointment Notes: <%= @patient.notes %></p>
<img src="/images/<%= @patient.pic %>" />


<p><a href="/patients/<%= @patient.id %>/edit">Edit</a></p>
<form method="post" action="/patients/ <%= @patient.id %>/delete"
>
  <input type="submit" value="Delete">
</form>
