
<div class="">
  <p><a href="/vets/<%= @vet.id %>/edit">Edit</a></p>
  <form method="post" action="/vets/ <%= @vet.id %>/delete">
    <input type="submit" value="Delete">
  </form>
</div>

<div class="">
  <img src="/images/vet.jpg" alt="">
  <div class="">
    <p><%= @vet.format_name %></p>
  </div>
</div>

<div class="">
  <% @patients.each do |patient| %>
  <a href="/patients/<%= patient.id %>"><%= patient.name %></a>
  <% end %>
</div>
