

<p>First Name: <%= @vet.first_name %></p>
<p>Last Name: <%= @vet.last_name %></p>

<% @patients.each do |patient| %>
<a href="/patients/<%= patient.id %>"><%= patient.name %></a>
<% end %>


<p><a href="/vets/<%= @vet.id %>/edit">Edit</a></p>
<form method="post" action="/vets/ <%= @vet.id %>/delete">
  <input type="submit" value="Delete">
</form>
