
<div class="">
  <form method="get" action="/vets/ <%= @vet.id %>/edit">
    <input type="submit" value="Edit">
  </form>
  <form method="post" action="/vets/ <%= @vet.id %>/delete">
    <input type="submit" value="Delete">
  </form>
</div>

<div class="">
  <img src="/images/vet.jpg" alt="">
  <div class="">
    <p><%= @vet.format_name %></p>
  </div>
</div>

<div class="pic-list">
  <% @patients.each do |patient| %>
    <img src="/images/<%= patient.pic %>" alt="">
    <a href="/patients/<%= patient.id %>"><%= patient.name %></a>
  <% end %>
</div>
