<h2>Client List</h2>

<nav id="menu">
  <li class="menu-item"><a href='/owners/new'>Add New</a></li>
</nav>

<% @owners.each do |owner| %>

    <div class="">
      <div class="">
        <p><%= owner.format_name %> </p>
        <p><%= owner.contact %></p>
      </div>
      <div class="">
        <form method="get" action="/owners/ <%= owner.id %>/edit">
          <input type="submit" value="Edit">
        </form>        <form method="post" action="/owners/ <%= owner.id %>/delete">
          <input type="submit" value="Delete">
        </form>
        <form method="get" action="/owners/ <%= owner.id %>/show">
          <input type="submit" value="Pets">
        </form>
      </div>
    </div>

<% end %>
