
<div class="pat-show">
  <div class="pat-index-each">
    <div class="">
      <p>Name: <%= @owner.format_name %> </p>
      <p>Contact: <%= @owner.contact %></p>
    </div>

    <div class="buttons">
      <form method="get" action="/owners/ <%= @owner.id %>/edit">
        <input type="submit" value="Edit">
      </form>

      <form method="post" action="/owners/ <%= @owner.id %>/delete">
        <input type="submit" value="Delete">
      </form>

      <form method="get" action="/owners/ <%= @owner.id %>/show">
        <input type="submit" value="Pets">
      </form>
    </div>
  </div>

  <div class="pic-list">
    <% @patients.each do |patient| %>
      <div class="pic-list-el">
        <img src="/images/<%= patient.pic %>" alt="">
        <a href="/patients/<%= patient.id %>/show"><%= patient.name %></a>
      </div>
    <% end %>
  </div>
</div>
